<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Import primevue style -->
    <link href="https://unpkg.com/primevue@3.11.1/resources/themes/saga-blue/theme.css" rel="stylesheet" />
    <link href="https://unpkg.com/primevue@3.11.1/resources/primevue.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/primeflex@3.1.0/primeflex.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />

    <!-- Import Vue 3 -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- Import component library -->
    <script src="https://unpkg.com/primevue@3.11.1/core/core.min.js"></script>
    <script src="https://unpkg.com/primevue@3.11.1/splitter/splitter.min.js"></script>
    <script src="https://unpkg.com/primevue@3.11.1/splitterpanel/splitterpanel.min.js"></script>
    <script src="https://unpkg.com/primevue@3.11.1/sidebar/sidebar.min.js"></script>
    <script src="https://unpkg.com/primevue@3.11.1/skeleton/skeleton.min.js"></script>
    <script src="https://unpkg.com/vue-router@4.0.0/dist/vue-router.global.js"></script>

    <!-- Import style -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Import custom script-->
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <style>
        body {
            margin: unset;
        }
    </style>
    <div id="app">
        <p-splitter style="height: 100vh;" :gutter-size="0">
            <p-splitterpanel style="max-width:250px; min-width:250px; height:100%; overflow:auto; border-right:1px solid gray;" :minSize="20">
                <p-dropdown style="width:100%;" v-model="selectedNs" :options="nsList" placeholder="Namespace"></p-dropdown>
                <p-menu style="width:100%; border:none;" :model="menuItems"></p-menu>
            </p-splitterpanel>
            <p-splitterpanel style="overflow:hidden;">
                @RenderBody()
            </p-splitterpanel>
        </p-splitter>
    </div>
    <script>
        class MenuService {
            constructor(nsList, selectedNs, menuItems, watch) {
                this.nsList = nsList;
                this.selectedNs = selectedNs;
                this.menuItems = menuItems;

                this.fetchNsList(nsList);
                
                this.fetchMenu(menuItems, selectedNs);
                watch(selectedNs, () =>{
                    this.fetchMenu(menuItems, selectedNs);
                });
            }

            fetchNsList(nsList){
                fetch('api/kube/namespace/list').then(res => res.json()).then(data => {
                       nsList.value = data.map(ns => ns.metaName);
                       nsList.value.unshift("All")
                });
            }

            fetchMenu(menuItems, selectedNs){
                var url = "api/menu";
                if(selectedNs.value != "" && selectedNs.value != "All"){
                    url = url + "/" + selectedNs.value;
                }
                fetch(url).then(res => res.json()).then(data => menuItems.value = data);
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




