@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="get" target="_blank" action="LogStream">
        <fieldset>
            <legend>Streaming Log</legend>
            <div>
                <input type="hidden" name="Resource" value="Pod" />
                <label for="Namespace">Namespace:</label><input type="text" name="Namespace" value="default" /><br />
                <label for="PodName">Pod Name:</label><input type="text" name="MetaName" value="" /><br />

                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
